**From youtube/thenewboston R tutorial**

In [5]:
# initializing and removing variables
a = 10
b <- 5
assign("c",20)
a + b
c - b
rm(a)
a # cleared above, error now

[1] 15

[1] 15

ERROR: Error in eval(expr, envir, enclos): object 'a' not found

In [6]:
# types
a <- 32
b <- "bucky"
c <- 1.125
class(a)
class(b)
class(c)
is.numeric(a)
is.numeric(b)

[1] "numeric"

[1] "character"

[1] "numeric"

[1] TRUE

[1] FALSE

In [7]:
# count characters
name <- "Austin Welch"
nchar(name)
nchar("name")

[1] 12

[1] 4

In [9]:
# dates
mydate <- as.Date("2014-06-28")
class(mydate)

[1] "Date"

In [11]:
# equality operators
5 == 7
5 < 7
3 != 4
"test" == "test"

[1] FALSE

[1] TRUE

[1] TRUE

[1] TRUE

In [12]:
# vectors
b1 <- c(1,2,3,4,5) # c combines a list
b2 <- c("bucky","hoss","emma")
b1[1] # indexing starts at 1
b2
b1*2
b1^3
sqrt(b1)

[1] 1

[1] "bucky" "hoss"  "emma"

[1]  2  4  6  8 10

[1]   1   8  27  64 125

[1] 1.000000 1.414214 1.732051 2.000000 2.236068

In [15]:
# more vectors
vec <- 1:5
vec
length(vec)

a = 1:5
b = 1:3
a+b # loops b, produces warning

[1] 1 2 3 4 5

[1] 5

Warning message in a + b:
“longer object length is not a multiple of shorter object length”

[1] 2 4 6 5 7

In [16]:
# more vectors
a < 5
any(a < 5)
all(a < 5)
x = 1:10
x[1:3]

[1]  TRUE  TRUE  TRUE  TRUE FALSE

[1] TRUE

[1] FALSE

[1] 1 2 3

In [17]:
# data frames (spreadsheet)
id <- 1:15
age <- c(18,13,15,13,1,2,19,14,16,65,44,43,32,59,10)
name <- c("a","b","c","d","e","f","g","h","i","j","k","l","m","n","o")
x <- data.frame(id, age, name)
x
nrow(x)
ncol(x)
dim(x)
names(x)[2]
head(x)
tail(x)
x[2,2]
x[1, 1:2]
x[ ,3]
class(x["age"]) # data frame
class(x[,"age"]) # numeric

   id age name
1   1 18  a
2   2 13  b
3   3 15  c
4   4 13  d
5   5  1  e
6   6  2  f
7   7 19  g
8   8 14  h
9   9 16  i
10 10 65  j
11 11 44  k
12 12 43  l
13 13 32  m
14 14 59  n
15 15 10  o

[1] 15

[1] 3

[1] 15  3

[1] "age"

  id age name
1 1  18  a
2 2  13  b
3 3  15  c
4 4  13  d
5 5   1  e
6 6   2  f

   id age name
10 10 65  j
11 11 44  k
12 12 43  l
13 13 32  m
14 14 59  n
15 15 10  o

[1] 13

  id age
1 1  18

 [1] a b c d e f g h i j k l m n o
Levels: a b c d e f g h i j k l m n o

[1] "data.frame"

[1] "numeric"